<!--<ion-header>
    <ion-navbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-navbar>
</ion-header>-->

<ion-content padding>
    <div class="main-logo">
        <img src="assets/img/hourlog-logo.png">
    </div>
    <div class="main-content">
        <p *ngIf="isStarted == undefined">Welcome <br>The Hour Log</p>
    </div>
    <div class="btn-group">
        <button (click)="BeginIsClicked();" *ngIf="isStarted == undefined" [ngStyle]="{'font-size': beginFontSize}" class="btn-begin">
          Begin
        </button>
        <br>
        <button *ngIf="isStarted == true" class="btn-login">
          Login
        </button>
    </div>
</ion-content>