<!--<ion-header>
    <ion-navbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-navbar>
</ion-header>-->

<ion-content padding>
    <div class="main-logo">
        <img src="assets/img/hourlog-logo.png">
    </div>
    <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
        <div class="main-content">
            <!--show welcome text if it's not yet started-->
            <p class="welcome-text" *ngIf="isStarted == undefined"><br>Welcome <br>The Hour Log<br><br></p>

            <!--replace login content if begin is clicked and is started-->
            <div class="input-login" *ngIf="isStarted == true">
                <ion-item class="input-field">
                    <ion-input keyboardAttach #email formControlName="email" type="email" placeholder="Email" [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
                    <ion-icon name="ios-person-outline" item-left></ion-icon>
                </ion-item>
                <ion-item class="error-message">
                    <p *ngIf="!loginForm.controls.email.valid  && (emailChanged || submitAttempt)">Please enter a valid email.</p>
                </ion-item>
                <ion-item class="input-field">
                    <ion-input keyboardAttach #password formControlName="password" type="password" placeholder="Password" [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
                    <ion-icon name="ios-lock-outline" item-left></ion-icon>
                </ion-item>
                <ion-item class="error-message">
                    <p *ngIf="!loginForm.controls.password.valid  && (passwordChanged || submitAttempt)">6 characters are needed</p>
                </ion-item>
            </div>
        </div>
        <div class="btn-group">
            <!--show begin button if it's not yet started-->
            <button (click)="BeginIsClicked();" *ngIf="isStarted == undefined" [ngStyle]="{'font-size': beginFontSize}" class="btn-begin">
              Begin
            </button>
            <br>
            <!--replace login button if begin is clicked and is started-->
            <button type="submit" *ngIf="isStarted == true" class="btn-login">
              Login
            </button>
        </div>
    </form>
</ion-content>