page-login {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: monospace;
    .main-logo {
        display: inline-flex;
        position: relative;
        align-items: center;
        width: 100%;
        height: 40%;
        img {
            width: 50%;
            margin: 0 auto;
        }
    }
    .main-content {
        display: inline-flex;
        position: relative;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 30%;
        .welcome-text {
            border-top: 1px solid $bluecolor;
            border-bottom: 1px solid $bluecolor;
            font-size: 250%;
        }
        p {
            width: 100%;
            margin: 0 auto;
            font-size: 60%;
        }
        .input-login {
            width: 80%;
            margin: 0 auto;
            //disable default border bottom for ios
            .item-ios.item-block .item-inner {
                border-bottom: 1px solid transparent;
            }
            //disable default border bottom for android
            .item-md.item-block .item-inner {
                border-bottom: 1px solid transparent;
            }
            .input-field {
                border-bottom: 1px solid $bluecolor;
            }
            .error-message {
                p {
                    color: red;
                }
            }
        }
    }
    .btn-group {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 40%;
        text-align: center;
        margin-top: 15%;
        .btn-login {
            background: transparent;
            border: 1px solid $bluecolor;
            width: 82%;
            height: 15%;
            font-size: 180%;
            transition: 0.2s;
            border-radius: 10px;
        }
        .btn-login.activated {
            border: 1px solid transparent;
            color: transparent;
        }
        .btn-begin {
            background: transparent;
            transition: 1s;
            font-size: 150%;
            color: $bluecolor;
        }
        .btn-begin.activated {
            color: transparent;
        }
    }
}